.App {
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
  z-index: -1;
}
.menuIcon {
  width: 50px;
  height: 50px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: inset 0px 3px 6px #00000029, 0px 3px 6px #00000029;
  border-radius: 10px;
  opacity: 1;
  cursor: pointer;
  transition: all 0.3s ease-out;
  position: relative;
  z-index: 0;
}

.bigbtn {
  width: 445px;
  height: 676px;
  padding-left: 10px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: inset 0px 3px 6px #00000029, 0px 3px 6px #00000029;
  border-radius: 10px;
  opacity: 1;
  z-index: 1;
  position: relative;
  transition: all 0.3s ease-out;
}

.itemHide {
  display: none !important;
}

.test {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  z-index: 3 !important;
  width: 100%;
  height: 100%;
}

.testimg {
  cursor: pointer;
  z-index: 5;
  width: 50px;
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testin {
  min-width: 100px;
  min-height: 100px;
  z-index: 4 !important;
}

.gh {
  position: absolute;
  top: -5px;
  display: flex;
  transition: all 0.3s ease-out;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 28px !important;
  height: 28px !important;
  background-color: white;
  margin-top: 4px;
  margin-left: 10px;
}
.bgcl {
  background-color: #d3f2e3;
}
.menuImg {
  width: 22px;
}

.msgImg {
  width: 20px;
  height: 17px;
}

.pclImg {
  width: 18px;
  height: 18px;
}

.message {
  cursor: pointer;
  z-index: 5;
  width: 50px;
  height: 50px;
  position: relative;
  margin-top: 25px;
}
.penbgchange {
  background: #d3f2e3 0% 0% no-repeat padding-box !important;
  transition: all 0.3s ease-out;
}
.pencil {
  cursor: pointer;
  z-index: 5;
  width: 115px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-out;
  height: 40px;
  position: relative;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: inset 0px 3px 6px #00000029, 0px 3px 6px #00000029;
  border-radius: 10px;
  margin-left: 15px;
  opacity: 1;
}

.toplayout {
  display: flex;
  align-items: center;
}
